/* .chargers {
  padding: 20px;
  color: #FFFFFF;
}

.chargers h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00E676;
}

.breadcrumb {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.charger-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.charger-card {
  background-color: #004D40; 
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charger-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.charger-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.charger-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.charger-rating span {
  font-size: 16px;
  color: #FFD700;
}

.charger-details p {
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
} */

.charger-card.cards {
  padding: 1rem;
  margin-bottom: 1rem;
}

.charger-card-img {
  width: 100%;
  height: 100%;
}
.charger-card-img img {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.charger-card-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.charger-card-content .rating {
  margin-bottom: 5px;
}
.charger-card-content p {
  font-size: 14px;
}
.charger-card-content .rating span {
  color: #FFB800;
}
.offer-card.cards p span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFFFFF;
  border: 1px solid #006C1F69;
  color: #002D2D;
  border-radius: 25px;
}