 
  .dashboard-card {
    background-color: #002D2D;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.dashboard-icon span {
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #004C4C;
  color: #68FFB0;
  border-radius: 50px;
  font-size: 25px;
}
.dashboard-content h5 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;

}
.dashboard-content h3 {
  font-size: 26px;
  font-weight: 600;
  color: #6AFF9A;
}
.dashboard-content {
  margin-left: 15px;
}