/*all-internal-fonts*/
@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Thin.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-ExtraLight.woff2') format('woff2'), url('../fonts/allfonts/Outfit-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-ExtraBold.woff2') format('woff2'), url('../fonts/allfonts/Outfit-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Medium.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Bold.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Light.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Black.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Thin.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-Regular.woff2') format('woff2'), url('../fonts/allfonts/Outfit-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/allfonts/Outfit-SemiBold.woff2') format('woff2'), url('../fonts/allfonts/Outfit-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anton';
	src: url('../fonts/allfonts/Anton-Regular.woff2') format('woff2'), url('../fonts/allfonts/Anton-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body{
    font-family: 'Outfit'!important;
    background-color :#004C4C!important;
    color: #fff!important;
    font-size: 15px!important;
	font-weight: 500!important;
}

body, html {
	scroll-behavior: smooth;
	max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 400;
}

strong {
	font-weight: 700;
}

a {
	text-decoration: none!important;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: inherit;
}

a:hover, a:focus, select {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: inherit;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

button {
	color: inherit;
	border: none;
}

p {
	font-size: 17px;
	color: #fff;
	margin-bottom: 0;
	font-weight: 400;
}
ul{
    padding: 0!important;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.form-select:focus {
	box-shadow: none;
	border-color: inherit!important;
}

.form-control:focus {
	box-shadow: none!important;
	border-color: inherit!important;
	color: #fff;
	background-color: transparent;
}

.form-control {
	background-color: transparent;
	color: #fff;
}

textarea {
	resize: none;
	background-color: transparent;
	border-color: #fff;
}

input:focus, button:focus, textarea:focus {
	outline: none;
	box-shadow: none;
}

img {
	max-width: 100%;
	height: auto;
}
.thm-btn {
    display: inline-block;
    padding: 10px 50px;
    background-color: #0F4C4C;
    border: 2px solid #68FFB0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s;
    color: #68ffb0;
}
.thm-btn.rd-btn {
    color: #fff;
	background-color: #FF0000;
	border-color: #FF0000!important;
}
.thm-btn.rd-btn:hover{
	opacity: 0.6;
}
.thm-btn:hover {
    border-color: #0F4C4C;
}
.invc-btn, .dwn-btn {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background-color: #0A8989;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
}
.dashboard-title{
    font-family: Anton;
    font-size: 40px;
    font-weight: 400;
    color: #68FFB0;
    text-transform: uppercase;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-modal .btn-close{
	background-image: none;
	opacity: 1;
}
.custom-modal .btn-close::after{
	content: "\f62a";
	font-family: bootstrap-icons !important;
}

.main-sec .breadcrumb-item a {
    color: #FFFFFF80;
}
.main-sec .breadcrumb-item.active {
    color: #fff;
}

.cards {
	padding: 2rem;
	background-color: #002D2D;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.invoice-button, .dwn-btn {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background-color: #0A8989;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
}
.main-sec {
    margin-left: 297px;
    transition: 0.5s;
    padding: 25px 50px;
    /* margin-top: 100px; */
}
.filters{
    margin-bottom: 1.5rem;
}
.profile-frm-bx {
    position: relative;
}
.profile-frm-bx .form-control, .profile-frm-bx .form-select {
	height: 55px;
	border: 2px solid #fff;
	font-size: 20px;
	background-color: #002D2D!important;
	color: #fff!important;
    box-shadow: none!important;
    /* color-scheme: dark; */
}
.form-control::placeholder {
    color: #FFFFFF80!important;
    opacity: 1; /* Firefox */
  }
  
  .form-control::-ms-input-placeholder { /* Edge 12-18 */
    color: #FFFFFF80!important;
  }
.profile-frm-bx input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.cstm-table .table{
    border-color: #004C4C5E;
    
}
.cstm-table .table thead th{
    background-color: #004C4C;
    color: #fff;
}
.cstm-table .table tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #082d2d !important;
    color: #fff;
}
.profile-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    flex-wrap: wrap;
}
.custom-modal .modal-content {
	width: 660px;
	background-color: #004C4C;
  }