/* .rfid-card {
    padding: 20px;
  }
  
  .rfid-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
  }
  
  .rfid-card-details {
    background-color: #00695c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .rfid-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .rfid-details {
    flex-grow: 1;
    font-size: 16px;
  }
  
  .rfid-details h2 {
    margin: 0 0 10px 0;
  }
  
  .request-button, .block-button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .request-button {
    background-color: #004d40;
    color: white;
  }
  
  .block-button {
    background-color: #d32f2f;
    color: white;
  }
  
  .card-control {
    background-color: #004d40;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .card-control h3 {
    margin: 0 0 10px 0;
  }
  
  .card-control p {
    margin: 0 0 10px 0;
  }
  
  .slider {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .slider-value {
    text-align: center;
    font-size: 16px;
  }
   */
   .profile-card-innr {
    display: flex;
    align-items: center;
}
.profile-card-innr-img img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: 3px solid #68FFB0;
  margin-right: 15px;
}
.profile-card-innr-cntnt h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.card-number {
  padding: 1rem;
  text-align: center;
  background-color: #004C4C;
  border-radius: 10px;
}
.card-number h4{
  font-family: Anton;
  font-size: 30px;
  font-weight: 400;
  color: #68FFB0;
}
.profile-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-control .dashboard-title {
  font-size: 25px;
  font-weight: 500;
}
.card-control h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
}
.custom-modal .modal-body .dashboard-title {
  color: #3EB655;
  font-size: 40px;
  margin-bottom: 3rem;
}
.custom-modal form .form-control {
  height: 60px;
  border: 1px solid #999999;
  border-radius: 10px;
  color: #999999;
  font-size: 20px;
  background-color: #002D2D!important;
}
.custom-modal .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  box-shadow: none;
  height: 25px;
	width: 25px;
	line-height: 25px;
	background-color: #6AFF9A;
    text-align: center;
    border-radius: 25px;
    box-shadow: none!important;
    color: #002D2D;
}
/* .btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
} */


.custom-modal form .form-control::placeholder {
  color: #eee;
  opacity: 1; 
}

.custom-modal form .form-control::-ms-input-placeholder {
  color: #eee;
}
.custom-modal form textarea.form-control {
  height: 150px;
}
.custom-modal .block-icon {
  font-size: 60px;
  color: #FF0000;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
