.add-rfid-card {
    padding: 20px;
  }
  
  .add-rfid-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: #00695c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .send-otp-button {
    padding: 10px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .card-image {
    text-align: right;
    margin-top: 20px;
  }
  
  .card-image img {
    max-width: 300px;
  }
  