/* .app {
    display: flex;
  } */

  .sidebar {
    width: 297px;
    background: #002D2D;
    min-height: 100vh;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    transition: 0.5s;
  }
  .sidebar .dashbord-logo {
    padding: 10px 50px;
    margin-bottom: 1rem;
}
.sidebar .dashbord-logo  img {
  width: 120px;
}

.sidebar .nav-menu  .nav-item .nav-link {
  font-size: 16px;
  letter-spacing: 0.07em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border-left: 5px solid transparent;
  transition: 0.3s;
  padding: 12px 25px;
  margin-bottom: 15px;
  width: 100%;
}
.sidebar .nav-menu  .nav-item .nav-link.active, .sidebar .nav-menu  .nav-item .nav-link:hover {
  background-color: #004C4C;
  border-color: #fff;
}
  
  /* .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  } */
  
  
